.container{
  display: flex;
  width: 1152px;
  height: 700px;
  min-height: 100vh;
  border: 2px solid green;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  flex-flow: wrap row;
  align-content: space-evenly;
  background-color: brown;
  border-radius: 10px;
}

.box {
  display: flex;
  border: 2px solid red;
  width: 468px;
  height: 160px;
  background-color: aqua;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;
  align-items: center;}

.box-1A, .box-1B, .box-1C {
  width: 78px;
  height: 78px;
  color: black;
  background-color: blue;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;
  align-items: center;}

.box-2A, .box-2B, .box-2C {
  width: 78px;
  height: 120px;
  color: black;
  background-color: blue;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;}

.box-3A, .box-3B, .box-3C {
  width: 78px;
  height: 78px;
  color: black;
  background-color: blue;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;}

.box-4A, .box-4B, .box-4C {
  width: 78px;
  height: 78px;
  color: black;
  background-color: blue;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;
  justify-content: left;}

.box-5A, .box-5B, .box-5C {
  width: 78px;
  height: 120px;
  color: white;
  background-color: blue;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-style: italic;
  font-size: large;
  font-weight: bold;
}
.box-5B{
  width: 78px;
  height: 40px;}

.box-6A,  .box-6C {
  width: 78px;
  height: 78px;
  color: black;
  background-color: blue;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;}
            
.box-6B{
  width: 78px;
  height: 40px;
  color: black;
  background-color: blue;
  margin: 20px;
  flex-basis: 25%;
  padding: 10px;
  border-radius: 8px;
  }